<div class="sg_sections_wrapper" xmlns="http://www.w3.org/1999/html">

<section id="layout_style">
  <h2 class="sg_h2">layout <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'layouts' %>

  <div class="clear"></div>
</section>

<section id="grid_style">
  <h2 class="sg_h2">grid <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'grid' %>

  <div class="clear"></div>
</section>

<section id="icons_style">
  <h2 class="sg_h2">icons <i class='icon-caret-up move_to_top'></i></h2>

    <%= render partial: "font_awesome" %>

  <div class="clear"></div>
</section>

<section id="typography_style">
  <h2 class="sg_h2">typography <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'typography' %>

  <div class="clear"></div>
</section>

<section id="tables_style">
  <h2 class="sg_h2">tables <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'tables' %>

  <div class="clear"></div>
</section>

<section id="forms_style">
  <h2 class="sg_h2">forms <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'forms' %>

  <div class="clear"></div>
</section>

<section id="colors_style">
  <h2 class="sg_h2">colors <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'colors' %>

  <div class="clear"></div>

</section>

<section id="buttons_style">
  <h2 class="sg_h2">buttons <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'buttons' %>

  <div class="clear"></div>
</section>

<section id="code_style">
  <h2 class="sg_h2">code <i class='icon-caret-up move_to_top'></i></h2>

  <%= render partial: 'code' %>

  <div class="clear"></div>
</section>
</div>